.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card h3  {
    font-size: 2rem;
}

.card h3::after {
    background-color: black;
    width: 10px;
    height: 2px;
}